
html{
    background-color: blanchedalmond;
}

.move{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}
.and{
    display: flex;
justify-content: center;
}
#button{
    color: purple;
    border-radius: 10px;
    padding: 15px;
    border: 10px 10px;
    border-color: red;
    font-size: 15px;
}